body{
  background-color: white;
}

.text{
  color: black;
}

.yes-button{
  margin: 20px;
  background-color: green;
}
.No-button{
  margin: 20px;
  background-color: red;
}
.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
